{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Chatbot</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{% static 'script.js' %}" defer></script>
    </head>

    <body>
        {% csrf_token %}
        <input type='hidden' name='last_question_tag' value=''>
        <input type='hidden' name='pb_resolu_count' value='0'>
        <input type='hidden' name='wait' value='False'>
        <div class="chatbox">
            <header>
                
            </header>

            <main id="chatbot-frame">
                <div class="msg" id="bot">Hello, I'm EliBlue, how can I help you?</div>
            </main>
        
            <footer>
                <form>
                    <input type="text" name="" id="input-msg" autocomplete="false">
                    <button type="button" id='submit-btn'>
                        <img src="{% static 'send-message.png' %}" alt="Submit">
                    </button>
                </form>
            </footer>
        </div>
    </body>
</html>
